<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-md-6">
        <p class="mb-1">© 2025 RentMyRoam</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="#" class="text-white me-3">About</a>
        <a href="#" class="text-white me-3">Contact</a>
        <a href="#" class="text-white">Terms</a>

        <div class="col-md-2 text-center">
        <a href="#" class="text-white me-2"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#" class="text-white me-2"><i class="fa-brands fa-github"></i></a>
        <a href="#" class="text-white"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
