<% layout("layouts/boilerplate") %>
<body>
    <div class="container mt-5">
        <div class="card p-4 shadow">
            <h3 class="mb-4">Create a new listing</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

            <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" id="title" placeholder="Enter you title" type="text" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            </div>
            
            <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" placeholder="Enter you description" class="form-control" rows="4" required></textarea>
            <div class="invalid-feedback">Please Enter Description</div>
            </div>

            <div class="mb-3">
            <label for="image" class="image">image</label>
            <input name="listing[image][url]" id="image" placeholder="Uplode img" type="file" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3">
            <label for="price" class="price">Enter your price</label>
            <input name="listing[price]" id="price" placeholder="Enter your price" type="number" class="form-control" required>
            <div class="invalid-feedback">Please Enter valid price</div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                <label for="country" class="price">Country</label>
                <input name="listing[country]"  id="country" placeholder="your country" type="text" class="form-control" required>
                <div class="invalid-feedback">Please provide Country Name</a></div>
                </div>

                <div class="col-md-3 mb-3">
                <label for="location" class="location">Location</label>
                <input name="listing[location]" id="location" placeholder="location" type="text" class="form-control" required>
                <div class="invalid-feedback">Please provide a valid city.</div>
                </div>
            </div>

            <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
              <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
              </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
            </div>
            </div>

            <div>
              <button type="submit" class="btn btn-success w-100">Submit</button>
            </div>
      </form>
    </div>
  </div>
</body>